@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="page-bar">
    <ul class="page-breadcrumb">
    </ul>

</div>
<!-- END PAGE BAR -->
<!-- BEGIN PAGE TITLE-->
<h1 class="page-title">
</h1>
<!-- END PAGE TITLE-->
<!-- END PAGE HEADER-->

<hr />

<div class="row" style="margin-top:10px;margin-bottom:10px">

    <div class="col-md-3">
        <label>PAPER CODE</label>
        <select class="form-control" id="PaperCode">
            <option selected disabled="disabled">Select</option>
            @foreach (var item in ViewBag.PaperCodes)
            {
                <option value="@item">@item</option>
            }
        </select>
    </div>

    <div class="col-md-3">
        <label>CENTERS</label>
        <select class="form-control" id="CenterCode">
            <option selected disabled="disabled">Select</option>
            @foreach (var item in ViewBag.Centers)
            {
                <option value="@item">@item</option>
            }
        </select>
    </div>

    <div class="col-md-3">
        <label>Roll No</label>
        <select class="form-control" id="Roll_no">
            <option selected disabled="disabled">Select</option>
            @foreach (var item in ViewBag.RollNumbers)
            {
                <option value="@item">@item</option>
            }
        </select>
    </div>

    <div class="col-md-3">
        <label>Roll No</label>
        <button id="fetchOMRsheet" class="form-control btn btn-success">FETCH</button>
    </div>

</div>
<div class="row">
    <div class="col-md-8">
        <div class="portlet-title " style="background-color:#5cd1db; color: #fff; padding:15px">
            <div class="caption">
                <i class="fa fa-file"></i>OMR SHEET VIEWER
            </div>
            <div class="tools"> </div>
        </div>
        <div class="portlet-body" id="Sheetbody" style="height:65vh; overflow: scroll;">

        </div>
    </div>
    <div class="col-md-4 bg-light" style="height:76.5vh;overflow:scroll;">
        <form id="formMarks" action="">
            <table class="table table-striped table-condensed" id="tblMarks">
                <thead>
                    <tr>
                        <th>Q.NO</th>
                        <th>Marks</th>
                    </tr>
                </thead>
                <tbody id="MCQ_Marks">
                </tbody>
            </table>
            <input id="cmdSubmit" type="submit" class="btn btn-info" value="Submit" disabled="disabled" />
        </form>
    </div>

</div>

<script>
    const fetchSheets = () => {
        $("#fetchOMRsheet").on("click", () => {
            let PaperCode = $("#PaperCode").val();
            let CenterCode = $("#CenterCode").val();
            let Roll_No = $("#Roll_no").val();

            $.ajax({
                url: "GetSheet",
                data: {
                    paperCode: PaperCode,
                    centerCode: CenterCode,
                    RollNo: Roll_No
                },
                success: res => {
                    $("#Sheetbody").empty();
                    let details = JSON.parse(res.MarksDetail);
                    $("#MCQ_Marks").empty();
                    Object.keys(details).sort().map((d, i) => {
                        if(d[0] == "Q"){
                            $("#MCQ_Marks").append(`<tr><td>${d}</td><td>${details[d]}</td></tr>`)
                        }
                    })
                    res.Files.map((d, i) => {
                        var image = new Image();
                        image.src = 'data:image/jpeg;base64,' + d;
                        $("#Sheetbody").append(image);
                        $("#Sheetbody").append("<br/>");
                    })
                }
            })

        });
    };

</script>
<script>
    $(document).ready(fetchSheets());
</script>

